body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(zFondo.png); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir toda la página */
  background-attachment: fixed; /* Fija la imagen para que siga al usuario */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

.scroll-container {
  width: 100%;/*cuanto se muestra en la pantalla, de izquierda a derecha*/
  overflow-x: auto; /* Habilita el scroll horizontal */
  white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  padding-top: 100px; /* Baja el contenido */
}

.item {
  display: inline-block; /* Coloca los elementos en línea */
  width: 250px; /* Ancho de cada elemento */
  height: 150px; /* Alto de cada elemento */
  margin: 10px;/*Margen de ALREDEDOR del objeto (cuenta arriba y abajo)*/
  background-color: #dbc59c;
  text-align: top;
  line-height: 0px; /* Centra el texto verticalmente */
  font-size: 24px;
  border: 5px solid #86684a;/*aumenta el grosor de las lineas de los margenes*/
  border-radius: 20px; /*Redondea las esquinas de las cajas del scroll*/
  padding-top: 300px;
}
.content {
  text-align: top;
  padding-top: 50%;
  color: white; /* Color del texto para que sea legible sobre la imagen */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}
.textT{
  color: white; /* Color del texto para que sea legible sobre la imagen */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

nav{
  display:grid;
  grid-template-columns: 1fr auto;
   align-items: center;
   background: #a27d57;
   font-family: sans-serif;
   position:fixed;
   top:0;
   width:100%;
   }
nav .logo{
   font-size: 24px;
   font-weight:black;
   }
nav .barnav{
   display:grid;
   grid-template-columns: repeat(4,auto);
   margin-right: 30px;
   }
nav .barnav div{
   padding: 10px 20px;
   }
nav .barnav div:hover{
   cursor: pointer;
   background:#dbc59c;
   }
.contenido{
   height: 1100px;
   margin-top: 0px; 
}
.margen{
  padding-top: 10px;
}
.fondito{
  background-color: #dbc59c;
  width: 200px;
  height: 70px;
  margin: 20px;
  border: 10px solid rgb(193, 152, 100);
}
.FondoSesion{
  background-color:#dbc59c;
  width: 400px;
  height: 150px;
  margin: 10px;
  border: 10px solid rgb(193, 152, 100);
  border-radius: 20px;
}
.fuerte{
  padding-top: 50px;
  size: 50px;
  color: rgb(74, 54, 30); /* Color del texto para que sea legible sobre la imagen */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}
.container {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}
.left {
  text-align: left;
  padding-left: 100px;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
  padding-right: 100px;
}